.align-categories {
  width: 20%;
  cursor: pointer;
}

.open-restaurant {
  background: rgba(80, 62, 157, 0.1);
  border-radius: 4px;
  color: #503e9d;
  padding: 5px;
}

.close-restaurant {
  background: rgba(80, 62, 157, 0.1);
  border-radius: 4px;
  color: #fb6d3a;
  padding: 5px;
}
