/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  // background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #f7f7f7;
}

.order-ready {
  color: #182135;
}

#sidebar header {
  // background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav li {
  width: 100%;
}

#sidebar .nav a {
  background: none;
  // border-bottom: 1px solid #455A64;
  color: #626264;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover {
  background: #503e9d;
  color: #f7fafc;
}

.active {
  background: #503e9d;
  color: #f7fafc;
}

.footer-head {
  font-size: 14px;
}

.footer-body {
  font-size: 11px;
}

#sidebar .nav a i {
  margin-right: 16px;
}

.align-head {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #2d2d2d;
}

.add-spacing {
  margin-left: 10px;
}

.head {
  justify-content: space-between;
}

.basket {
  background: #fb6d3a;
}
/* Styles for wrapping the search box */

// .main {
//   width: 50%;
//   margin: 50px auto;
// }

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  right: inherit;
}

.align-block {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #2d2d2d;
}

.order-popup {
  padding: 30px;
  margin: 10px;
}

.blur-element {
  position:fixed;
  // opacity: .5;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
  // background: rgba(0, 0, 0, 0.5);
  // filter: blur(4px);
  background: rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(12px);
}
